<% attributes.each do |attribute| %>
  <p>
    <%= label_tag "#{prefix}[#{attribute}]", "#{attribute.to_s.titleize}" %>
    <% if attribute == :reminder_manual_override %>
      <%= hidden_field_tag "#{prefix}[#{attribute}]", false %>
      <%= check_box_tag "#{prefix}[#{attribute}]", 1, person.send(attribute) %>
    <% else %>
      <%= text_field_tag "#{prefix}[#{attribute}]", person.send(attribute) %>
    <% end %>
  </p>
<% end %>