<% if tagging.verb %>
  <li><%= "#{tagging.verb.name} " %><strong><%= "#{tagging.tag.name}" %></strong></li>
<% else %>
  <li><%= "#{tagging.person.first_name} -> " %><strong><%= "#{tagging.tag.name}" %></strong></li>
<% end %>