<div class="row">
  <div class="col-md-12">
    <p class="text-center">Potential level of friendship</p>
  </div>

  <div class="row">
    <div class="col-md-1">
      <p class="text-center">Current level of friendship</p>
    </div>
    <div class="col-md-11">
      <table class="table table-bordered">
        <tr>
          <td></td>
          <% (1..4).each do |n| %>
            <td><%= "#{n}" %></td>
          <% end %>
        </tr>
        <% 4.downto(1).each do |r| %>
          <tr>
            <td><%= "#{r}" %></td>
            <% (1..4).each do |c| %>
              <% this_box = Person.table_order.select{|p| p.relationship_possible == c and p.relationship_current == r} %>
              <% if @grey_out.include?([r,c]) %>
                <td class="active">
              <% elsif @most_often.include?([r,c]) %>
                <td class="success">
              <% elsif @second_most_often.include?([r,c]) %>
                <td class="info">
              <% elsif @third_most_often.include?([r,c]) %>
                <td class="warning">
              <% elsif @fourth_most_often.include?([r,c]) %>
                <td class="alert">                
              <% else %>
                <td>
              <% end %>  
                <ul>
                  <% this_box.each do |person| %>
                    <li>
                      <%= link_to "#{person.name}", person_path(person) %>
                      <%= "(#{person.reminder_days})" if person.reminder_days %>
                    </li>
                  <% end %>
                </ul>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3>The numbers</h3>
      <p>Horizontal: potential; Vertical: now</p>
      <dl class="dl-horizontal">
        <dt>1</dt><dd>Doesn't fit other categories</dd>
        <dt>2</dt><dd>Friend</dd>
        <dt>3</dt><dd>Edge of inner circle</dd>
        <dt>4</dt><dd>Lifelong friend</dd>
      </dl>
    </div>
    <div class="col-md-6">
      <h3>Substantial interaction at least:</h3>
      <table class="table table-bordered">
        <tr><td class="success">4x/year</td></tr>
        <tr><td class="info">3x/year</td></tr>
        <tr><td class="warning">2x/year</td></tr>
        <tr><td class="alert">1x/year</td></tr>
        <tr><td class="active">Improbable and undesirable</td></tr>
      </table>
    </div>
  </div>

</div>