<% titles_and_events = [ 
  ["Events with specific times",events[:specific_dates]], 
  ["Events with time ranges",events[:ranges]] 
] %>

<% titles_and_events.each do |te| %>
  <h2><%= te[0] %></h2>
  <table class="table">
    <% if te[1].present? %>
      <% te[1].each do |event| %>
        <%= render partial: "/displays/individual_event", locals: {event: event} %>
      <% end %>
    <% else %>
      <p>No events fit these criteria currently.</p>
    <% end %>
  </table>
<% end %>