<%= javascript_include_tag "displays" %>

<div id="sleep-graph"></div>

<%= render partial: "/displays/event_display", locals: {events: @events} %>

<ul>
  <li><%= link_to "Generate all blank names", people_generate_names_path %></li>
  <li><%= link_to "Tag listing", tags_path %></li>
</ul>