<h3>Read and acknowledge before proceeding</h3>

<p>I intend to select an activity, and be bound to both undertake the activity for the minimum time and also fill out a survey afterwards.</p> 

<%= link_to "Yes, that's what I want to do", root_path %>