<div class="container">
  <div class="row">

    <h3>Read and acknowledge before proceeding</h3>

    <p>I intend to:</p> 

    <ul>
      <li>select an activity</li>
      <li>be bound to both undertake the activity for the minimum time</li>
      <li>fill out a survey afterwards.</li>
    </ul>

    <%= form_tag action: "create", controller: "deeds" do %>

      <%= submit_tag "Yes, that's what I want to do" %>

    <% end %>

  </div>
</div>