<div class="row">
  <div class="col-md-12"> 
    <h1>Last 25 surveys</h1>
    <% if @surveys.present? %>
      <table class="table">
        <thead>
          <th>Time</th>
          <% @questions.each do |question| %>
            <th><%= "#{question.short}" %></th>
          <% end %>
        </thead>
        <tbody>
          <% @surveys.each do |survey| %>
            <%#= Trying to accomodate future addition or removal of questions, to show blanks instead of fake data %>
            <% answers = survey.answers.sort_by{|x| x.question.ordering} %>
            <% answer_counter = 0 %>
            <tr>
              <td><%= survey.created_at.strftime("%a, %b %-d %H:%M") %></td>
              <% answers.each do |answer| %>
                <% if @questions[answer_counter].id == answer.question.id %>
                  <td><%= "#{answer.get_answer}" %></td>
                <% end %>
                <% answer_counter += 1 %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No surveys so far!</p>
    <% end %>
  </div>
</div>