<% prefix = "new_people[#{index_number}]" %>
<hr>
<div>
  <%= label_tag "#{prefix}[id]", "Person" %>
  <%= render partial: "communications/simple_search_box", locals: {search_terms_list: people, return_variable: "#{prefix}[id]"} %>
</div>
<% [:medium,:contents,].each do |string_field| %>
  <div>
    <%= label_tag "#{prefix}[#{string_field}]", string_field %>
    <%= text_field_tag "#{prefix}[#{string_field}]" %>
  </div>
<% end %>
<hr>